# ignore everything
*

# except
!README.md
!echam/
!jsbach/
!mpiom/
!wiso/
!helper_functions.r
!load_special_data.r
!namelist.loop.plot.r
!namelist.plot.r
!namelist.post.r
!plot_echam.r
!plot_loop_echam.r
!post_echam.r
!requirements_plot.txt
!requirements_post.txt
