# ignore everything
*

# except
!wiso/
!mpiom/
!jsbach/
!README.md
!requirements.txt
!post_echam.r
!plot_echam.r
!helper_functions.r
!namelist.post.r
!namelist.plot.r
!ncdump-h_echam5_main_mm.txt
!ncdump-h_echam5_co2_mm.txt

