ncdf4
fields # for fields::imageplot.setup() in ~/scripts/r/functions/image.plot.nxm.r
# optional depending on namelist.plot options:
#RColorBrewer 
#abind
#pangaear
#pracma
#sticky
#KernSmooth
#forecast
#R.matlab
#xlsx
#RCurl
